@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

@import "./hero";
@import "./messageMe";

//  MY OWN STYLES FOR HEADER
// #08f9ff
// main color #2A4594
// header color #181D27

// .header {
//   padding-left: 20px;
//   padding-right: 20px;
//   padding-top: 10px;
//   padding-bottom: 10px;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   background-color: #000;



//   .header-logo {
//     font-size: 35px;
//     color: #fff;
//   }

//   nav {
//     display: flex;
//     align-items: center;

//     .header-list {
//       display: flex;
//       align-items: center;
//       gap: 25px;

//       @media(max-width:900px) {
//         display: none;
//       }

//       li {
//         a {
//           font-size: 20px;
//           color: #fff;
//           font-family: "Overpass";
//           position: relative;

//           &::after {
//             content: "";
//             width: 0%;
//             background-color: #fff;
//             height: 3px;
//             position: absolute;
//             bottom: -3px;
//             left: 0;
//             transition: 0.5s ease-in-out;
//           }

//           &:hover::after {
//             width: 100%;
//           }
//         }
//       }
//     }

//     .header-list-on-responsive {
//       display: flex;
//       position: fixed;
//       background-color: #000;
//       width: 80%;
//       height: 100vh;
//       top: 0;
//       right: 20%;

//       @media(max-width:900px) {
//         display: flex;
//       }

//       .hor-wrapper {
//         position: relative;
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         justify-content: center;
//         width: 100%;
//         gap: 22px;

//         li {
//           transition: 0.6s;

//           &:hover {
//             transform: scale(1.2);
//           }

//           a {
//             font-size: 20px;
//             color: #fff;
//             font-family: "Overpass";
//           }
//         }

//         .header-make-call {
//           display: flex;
//           align-items: center;
//           color: #fff;
//           font-family: "Overpass";
//           font-size: 20px;
//           gap: 15px;

//           img {
//             height: 32px;
//           }
//         }

//         .header-languages-dropdown {
//           display: flex;
//           align-items: center;
//           color: #fff;
//           font-family: "Overpass";
//           font-size: 20px;
//           gap: 15px;

//           button {
//             background-color: transparent;
//             border: none;
//             cursor: pointer;

//             img {
//               height: 30px;
//             }
//           }
//         }

//         .hor-close-button {
//           position: absolute;
//           right: 10px;
//           top: 10px;
//           background-color: transparent;
//           border: none;
//           cursor: pointer;

//           img {
//             width: 20px;
//             height: 20px;
//           }
//         }
//       }
//     }

//     .header-end-wrapper {
//       margin-left: 50px;
//       display: flex;
//       align-items: center;
//       gap: 15px;

//       @media(max-width:900px) {
//         display: none;
//       }

//       .header-make-call {
//         img {
//           height: 32px;
//         }
//       }

//       .header-languages-dropdown {
//         button {
//           background-color: transparent;
//           border: none;
//           cursor: pointer;

//           img {
//             height: 30px;
//           }
//         }
//       }
//     }
//   }

//   .header-hamburger {
//     display: none;
//     background-color: transparent;
//     border: none;
//     cursor: pointer;

//     img {
//       width: 30px;
//       height: 30px;
//     }

//     @media(max-width:900px) {
//       display: flex;
//     }
//   }
// }

// .header-list-on-responsive-false {
//   display: none !important;
// }

// .loading-true {
//   background-color: rgba(0, 0, 0, 0.7);
//   width: 100%;
//   height: 100vh;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   position: fixed;
//   top: 0;
//   z-index: 10001;

//   img {
//     // margin-top: 15%;
//     width: 70px;
//     height: 70px;
//     animation: flipImage 2s ease-in-out infinite;
//   }

//   @keyframes flipImage {

//     0%,
//     100% {
//       transform: scaleX(1);
//     }

//     33.33% {
//       transform: scaleX(-1);
//     }

//     66.66% {
//       transform: scaleX(1)
//     }

//     100% {
//       transform: scaleX(-1);
//     }
//   }
// }

// .loading-false {
//   display: none;
// }

// SECOND STYLES FOR HEADER

.header {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #181D27;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10005;



  .header-logo {
    font-size: 35px;
    color: #fff;

    img {
      width: 60px;
      height: 50px;
    }
  }

  nav {
    display: flex;
    align-items: center;

    .header-list {
      display: flex;
      align-items: center;

      @media(max-width:900px) {
        display: none;
      }

      li {
        a {
          font-size: 20px;
          color: #fff;
          font-family: "Poppins", "Overpass";
          position: relative;
          padding-top: 10px;
          padding-left: 15px;
          padding-right: 15px;
          padding-bottom: 7px;

          border-bottom: 4px solid transparent;
          transition: 0.1s ease;

          &:hover {
            border-bottom: 4px solid #2A4594;
          }


          &::after {
            content: "";
            width: 100%;
            background: linear-gradient(0deg, #08f9ff33, transparent);
            height: 150%;
            position: absolute;
            bottom: -5px;
            left: 0;
            transition: 0.5s ease-in-out;
            display: none;
          }

          &:hover::after {
            width: 100%;
            display: flex;
          }
        }
      }
    }

    .header-list-on-responsive {
      display: flex;
      position: fixed;
      background-color: #000;
      width: 80%;
      height: 100vh;
      top: 0;
      right: 20%;

      @media(max-width:900px) {
        display: flex;
      }

      .hor-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 22px;

        li {
          transition: 0.6s;

          &:hover {
            transform: scale(1.2);
          }

          a {
            font-size: 20px;
            color: #fff;
            font-family: "Poppins";
          }
        }

        .header-make-call {
          display: flex;
          align-items: center;
          color: #fff;
          font-family: "Poppins";
          font-size: 20px;
          gap: 15px;

          img {
            height: 32px;
          }
        }

        .header-languages-dropdown {
          display: flex;
          align-items: center;
          color: #fff;
          font-family: "Poppins";
          font-size: 20px;
          gap: 15px;

          button {
            background-color: transparent;
            border: none;
            cursor: pointer;

            img {
              height: 30px;
            }
          }
        }

        .hor-close-button {
          position: absolute;
          right: 10px;
          top: 10px;
          background-color: transparent;
          border: none;
          cursor: pointer;

          img {
            width: 20px;
            height: 20px;
          }
        }
      }
    }

    .header-end-wrapper {
      margin-left: 50px;
      display: flex;
      align-items: center;
      gap: 10px;

      @media(max-width:900px) {
        display: none;
      }

      .header-make-call {
        transition: 0.1s ease;
        position: relative;
        padding-right: 4px;
        padding-left: 4px;
        padding-bottom: 8px;
        display: flex;
        align-items: center;
        border-bottom: 4px solid transparent;
        transition: 0.4s ease-in-out;
        gap: 10px;

        p {
          margin-top: 6px;
          font-size: 16px;
          font-family: "Poppins", "Overpass";
          color: #fff;
          opacity: 0.9;
        }

        &:hover {
          border-bottom: 4px solid #2A4594;
        }


        &:hover::after {
          content: "";
          width: 100%;
          background: linear-gradient(0deg, #08f9ff33, transparent);
          height: 150%;
          position: absolute;
          bottom: -5px;
          left: 0;
          transition: 0.9s ease-in-out;
        }

        img {
          height: 32px;
        }
      }

      .header-languages-dropdown {
        transition: 0.1s ease;
        position: relative;
        padding-right: 4px;
        padding-left: 4px;
        padding-bottom: 5px;
        cursor: pointer;
        border-bottom: 4px solid transparent;

        display: flex;
        align-items: center;
        gap: 10px;

        p {
          font-size: 17px;
          color: #fff;
          font-family: "Poppins", "Overpass";
        }

        img {
          width: 30px;
          height: 30px;
        }

        .hld-dropdown-shown {
          position: absolute;
          width: 140px;
          background-color: #181D27;
          top: 60px;
          right: 0px;

          display: flex;
          flex-direction: column;

          button {
            padding: 10px 15px;
            background-color: #181D27;
            border: none;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 5px;
            cursor: pointer;
          }

          .hld-dropdown-russian {
            border-bottom: 2px solid rgba(0, 0, 0, 0.7);
          }
        }

        .hld-dropdown-none {
          display: none;
        }

      }
    }
  }

  .header-hamburger {
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;

    img {
      width: 30px;
      height: 30px;
    }

    @media(max-width:900px) {
      display: flex;
    }
  }
}

.header-list-on-responsive-false {
  display: none !important;
}

.loading-true {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 10006;

  img {
    // margin-top: 15%;
    width: 70px;
    height: 70px;
    animation: flipImage 2s ease-in-out infinite;
  }

  @keyframes flipImage {

    0%,
    100% {
      transform: scaleX(1);
    }

    33.33% {
      transform: scaleX(-1);
    }

    66.66% {
      transform: scaleX(1)
    }

    100% {
      transform: scaleX(-1);
    }
  }
}

.loading-false {
  display: none;
}

.a-style {
  border-bottom: 4px solid #2A4594 !important;
  transition: 0.1s ease !important;

  &::after {
    content: "" !important;
    width: 100% !important;
    background: linear-gradient(0deg, #08f9ff33, transparent) !important;
    height: 150% !important;
    position: absolute !important;
    bottom: -5px !important;
    left: 0 !important;
    transition: 0.5s ease-in-out !important;
  }
}

// apparently decent header styles as language drop down fixed