@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

@import "./hero";
@import "./messageMe";
@import "./carouselExample";

// colors
// #08f9ff
// main color 1) #2A4594 2) #fff
// header color 1) #181D27 2) #2A4594


// variables

$backgroundColor: #1F1F1F;
$textColor: #fff;


// SECOND STYLES FOR HEADER

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 20px 8px 20px;

  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 225;

  -webkit-box-shadow: 0px 9px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 9px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 9px 10px 0px rgba(0, 0, 0, 0.2);
  background-color: $backgroundColor;



  .header-logo {
    font-size: 35px;

    img {
      width: 60px;
      height: 50px;
    }
  }

  nav {
    display: flex;
    align-items: center;

    .header-list {
      display: flex;
      align-items: center;
      // gap: 10px;

      @media(max-width:1100px) {
        display: none;
      }

      li {
        a {
          font-size: 20px;
          color: $textColor;
          font-family: "Poppins", "Overpass";

          position: relative;

          padding: 10px 15px 7px 15px;
          border-bottom: 4px solid transparent;

          transition: 0.1s ease;

          &:hover {
            border-bottom: 4px solid #2A4594;
          }


          &::after {
            content: "";
            width: 10%;

            position: absolute;
            bottom: -5px;
            left: 0;
            transition: 0.5s ease-in-out;

            display: none;
            background: linear-gradient(0deg, #08f9ff33, transparent);
          }

          &:hover::after {
            width: 80%;
            display: flex;
          }
        }
      }
    }

    .header-list-on-responsive {
      width: 80%;
      height: 100vh;

      display: flex;
      background-color: #1f1f1f;

      position: fixed;
      top: 0;
      right: 20%;

      @media(max-width:1100px) {
        display: flex;
      }

      .hor-wrapper {
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 22px;

        position: relative;

        li {
          transition: 0.6s;

          &:hover {
            transform: scale(1.2);
          }

          a {
            font-size: 20px;
            color: #fff;
            font-family: "Poppins";
          }
        }

        .header-make-call {
          display: flex;
          align-items: center;
          gap: 15px;

          color: #fff;
          font-family: "Poppins";
          font-size: 20px;

          img {
            height: 32px;
          }
        }

        .header-languages-dropdown {
          display: flex;
          align-items: center;
          gap: 15px;

          color: #fff;
          font-family: "Poppins";
          font-size: 20px;

          button {
            background-color: transparent;
            border: none;

            cursor: pointer;

            img {
              height: 30px;
            }
          }
        }

        .hor-close-button {
          background-color: transparent;
          border: none;

          position: absolute;
          right: 10px;
          top: 10px;

          cursor: pointer;

          img {
            width: 20px;
            height: 20px;
          }
        }
      }
    }

    .header-end-wrapper {
      margin-left: 50px;

      display: flex;
      align-items: center;
      gap: 10px;

      @media(max-width:1100px) {
        display: none;
      }

      .header-make-call {
        padding-right: 4px;
        padding-left: 4px;
        padding-bottom: 8px;

        display: flex;
        align-items: center;
        gap: 10px;

        position: relative;
        transition: 0.1s ease;
        transition: 0.4s ease-in-out;

        border-bottom: 4px solid transparent;

        p {
          margin-top: 6px;

          font-size: 16px;
          font-family: "Poppins", "Overpass";
          color: $textColor;
          opacity: 0.9;
        }

        &:hover {
          border-bottom: 4px solid #2A4594;
        }


        // &:hover::after {
        //   content: "";
        //   width: 100%;
        //   background: linear-gradient(0deg, #08f9ff33, transparent);
        //   height: 150%;
        //   position: absolute;
        //   bottom: -5px;
        //   left: 0;

        //   transition: 0.9s ease-in-out;
        // }

        img {
          height: 32px;
        }
      }

      .header-languages-dropdown {
        padding-right: 4px;
        padding-left: 4px;
        padding-bottom: 5px;
        border-bottom: 4px solid transparent;

        position: relative;
        transition: 0.1s ease;

        cursor: pointer;

        display: flex;
        align-items: center;
        gap: 10px;

        p {
          font-size: 17px;
          color: $textColor;
          font-family: "Poppins", "Overpass";
        }

        img {
          width: 30px;
          height: 30px;
        }

        .hld-dropdown-shown {
          width: 140px;

          display: flex;
          flex-direction: column;
          background-color: $backgroundColor;

          position: absolute;
          top: 60px;
          right: 0px;
          z-index: 226;


          button {
            padding: 10px 15px;

            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 5px;
            background-color: $backgroundColor;
            border: none;

            cursor: pointer;
          }

          .hld-dropdown-russian {
            border-bottom: 2px solid rgba(255, 255, 255, 0.7);
          }
        }

        .hld-dropdown-none {
          display: none;
        }

      }
    }
  }

  .header-hamburger {
    display: none;
    background-color: transparent;
    border: none;

    cursor: pointer;

    img {
      width: 30px;
      height: 30px;
    }

    @media(max-width:900px) {
      display: flex;
    }
  }
}

.header-list-on-responsive-false {
  display: none !important;
}

.loading-true {
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);

  position: fixed;
  top: 0;
  z-index: 230;

  img {
    // margin-top: 15%;
    width: 70px;
    height: 70px;
    animation: flipImage 2s ease-in-out infinite;
  }

  @keyframes flipImage {

    0%,
    100% {
      transform: scaleX(1);
    }

    33.33% {
      transform: scaleX(-1);
    }

    66.66% {
      transform: scaleX(1)
    }

    100% {
      transform: scaleX(-1);
    }
  }
}

.loading-false {
  display: none;
}

.a-style {
  border-bottom: 4px solid #2A4594 !important;
  transition: 0.1s ease !important;

  &::after {
    content: "" !important;
    width: 80% !important;
    background: linear-gradient(0deg, #08f9ff33, transparent) !important;
    // height: 150% !important;
    position: absolute !important;
    bottom: -5px !important;
    left: 0 !important;
    transition: 0.5s ease-in-out !important;
  }
}

// apparently decent header styles as language drop down fixed

// some major adjustments done in 1 2 3 4  5 